@import "../../node_modules/bootstrap-less/bootstrap/index.less";
@import "variables";

.theme-color-blue {
  color: @theme-color-blue;
}

.theme-color-green {
  color: @theme-color-green;
}

.theme-color-grey {
  color: @theme-color-grey;
}

.theme-color-white {
  color: @theme-color-white;
}

.bg-theme-color-blue {
  background-color: @theme-color-blue;
}

.bg-theme-color-blue-40 {
  background-color: @navbar-default-link-active-bg;
}

.bg-theme-color-green{
  background-color: @theme-color-green;
}

.bg-theme-color-grey {
  background-color: @theme-color-grey;
}

.bg-theme-color-white {
  background-color:white;
}

.header-title {
  padding:15px 0 15px 130px;
}

.header-title a {
  color:@theme-color-green;
  font-size: @font-size-h3;

  @media (min-width: @screen-md-min) {
    font-size: @font-size-h1;
  }
}

.header-title a:hover {
  text-decoration: none;
  color:@theme-color-blue;
}

.content {
  padding:15px;

  .overlay {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;

    img {
      display: block;
      margin: auto;
      padding-top: 10px;
      height: auto;
      max-width: 100%;
    }
  }
}

#main-carousel {
  height: 210px;

  @media (min-width: @screen-md-min) {
    height: 420px;
  }

  .carousel-inner {
    div {
      height: 210px;
      overflow: hidden;
      background-position: center;
      background-size: cover;

      @media (min-width: @screen-md-min) {
        height: 420px;
      }
    }

    .slide-1 {
      background-image: url('../images/slide-1.jpg');
    }

    .slide-2 {
      background-image: url('../images/slide-2.jpg');
    }

    .slide-3 {
      background-image: url('../images/slide-3.jpg');
    }

    .slide-4 {
      background-image: url('../images/slide-4.jpg');
    }

    .slide-5 {
      background-image: url('../images/slide-5.jpg');
    }

  }
}

.carousel-caption div {
  opacity: 0.8;
  background-color: #3ec303;
}

.carousel-caption h1 {
  line-height: 1.2em;
  font-size: @font-size-h3;
  @media (min-width: @screen-md-min) {
    font-size: @font-size-h1;
  }
}

.date-box {
  border: 1px solid @theme-color-green;
  border-top: 10px solid @theme-color-green;
  background-color: @theme-color-white;
  color: @theme-color-green;
  margin: 2px 8px 0 0;
  padding: 5px;
  font-weight: @badge-font-weight;
  .text-center();
  width:80px;
}

hr {
  background-color: @theme-color-blue;
  height: 1px;
  margin-top:0;
}

.thumbnail {
  padding: 10px;
}
.thumbnail span {
  color: @theme-color-blue;
}

.page-header {
  color: @theme-color-green;
}

.gallery-thumbnail {
  display: inline-block;
  margin: 10px;
}

.gallery-thumbnail img{
  height: 100px;
}