/* Grundfarben */

@theme-color-grey: #7F7F7F;
@theme-color-white: #fff;
@theme-color-blue: #0DC9F7;
@theme-color-green: #3ec303;

@font-color-highContrast: #fff;

/* Bootstrap Anpassungen */
@navbar-default-bg: @theme-color-white;
@navbar-default-color: @theme-color-blue;
@navbar-default-link-color: @theme-color-blue;
@navbar-default-link-hover-color: lighten(@theme-color-blue, 30%);
@navbar-default-link-active-bg: fade(@theme-color-blue, 40%);
@navbar-default-link-active-color: @theme-color-white;

@icon-font-path: "../fonts/";

@text-color: @theme-color-grey;
@brand-primary: @theme-color-blue;

@carousel-caption-color: @theme-color-white;

@brand-primary: @theme-color-blue;

@panel-default-heading-bg: @theme-color-blue;
@panel-default-border: @theme-color-blue;
@panel-default-text: @theme-color-white;

@list-group-border: @theme-color-blue;
@list-group-hover-bg: lighten(@theme-color-blue, 45%);
@list-group-link-color: @theme-color-blue;

@blockquote-font-size: 14px;

@page-header-border-color:@theme-color-green;
