<div class="footer bg-theme-color-blue">
    <div class="container">
        <div class="row theme-color-white">
            <div class="col-sm-12 text-center">
                <img src="images/BI_HWS_Uebigau_LOGO_46.png" alt="Logo" style="padding: 20px 0 5px 0;" />
                <address>
                    <h4>Kontakt</h4>
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;
                    <a href="mailto:post@bi-uebigau.de" class="theme-color-white">post@bi-uebigau.de</a>
                </address>
            </div>
        </div>
    </div>
</div>