<div class="container">
    <div class="row align-items-center">
        <div class="col-xs-12">
            <div style="float: left;">
                <a href="/">
                    <img src="images/BI_HWS_Uebigau_LOGO_110.png" alt="Logo" style="padding: 5px;" />
                </a>
            </div>
            <div class="header-title">
                <a href="/">Bürgerinitiative Hochwasserschutz
                    <br/>Übigauer Insel</a>
            </div>
        </div>
    </div>
</div>
<div class="bg-theme-color-white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
                <span class="icon-bar bg-theme-color-blue"></span>
                <span class="icon-bar bg-theme-color-blue"></span>
                <span class="icon-bar bg-theme-color-blue"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-default" id="mainNav">
            <ul class="nav navbar-nav">
                <li class="<%- current.source == 'index' ? 'active' : ''%>">
                    <a href="index.html">Über uns</a>
                </li>
                <li class="<%- current.source == 'chronologie' ? 'active' : ''%>">
                    <a href="chronologie.html">Chronologie</a>
                </li>
                <li class="<%- current.source == 'Inselfest' ? 'active' : ''%>">
                    <a href="Inselfest.html">Inselfest</a>
                </li>
                <li class="<%- current.source == 'links' ? 'active' : ''%>">
                    <a href="links.html">Links</a>
                </li>
                <li class="<%- current.source == 'unterstuetzer' ? 'active' : ''%>">
                    <a href="unterstuetzer.html">Unterstützer</a>
                </li>
                <li class="<%- current.source == 'impressum' ? 'active' : ''%>">
                    <a href="impressum.html">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bg-theme-color-blue" style="height: 3px;"></div>