<div class="content">

    <style type="text/css">
        .row ul {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .row ul li {
            list-style: none;
            margin-bottom: 25px;
        }

        .row ul li img {
            cursor: pointer;
        }

        .modal-body {
            padding: 5px !important;
        }

        .modal-content {
            border-radius: 0;
        }

        .modal-dialog img {
            text-align: center;
            margin: 0 auto;
        }

        .controls {
            width: 50px;
            display: block;
            font-size: 11px;
            padding-top: 8px;
            font-weight: bold;
        }

        .previous {
            float: left;
        }

        .next {
            float: right;
            text-align: right;
        }

        /*override modal for demo only*/

        .modal-dialog {
            max-width: 500px;
            padding-top: 90px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('li img').on('click', function () {
                var src = $(this).attr('src');
                var txt = $(this).attr('txt');
                var img = '<img src="' + src + '" class="img-responsive"/>';

                var index = $(this).parent('li').index();

                var html = '';
                html += img;
                html += '<div style="height:25px;clear:both;display:block;text-align:center">';
                html += '<a class="controls previous" href="' + (index) + '">&laquo; zurück</a>';
                html += '<span class="txt" style="line-height:2.2;">' + txt + '</span>'
                html += '<a class="controls next" href="' + (index + 2) + '">vor &raquo;</a>';
                html += '</div>';

                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myModal .modal-body').html(html);

                    $('a.controls').trigger('click');
                });
                $('#myModal').on('hidden.bs.modal', function () {
                    $('#myModal .modal-body').html('');
                });
            });
        });

        $(document).on('click', 'a.controls', function () {
            var index = $(this).attr('href');
            var src = $('ul.row li:nth-child(' + index + ') img').attr('src');
            var txt = $('ul.row li:nth-child(' + index + ') img').attr('txt');

            $('.modal-body img').attr('src', src);
            $('.modal-body span.txt').text(txt);

            var newPrevIndex = parseInt(index) - 1;
            var newNextIndex = parseInt(newPrevIndex) + 2;

            if ($(this).hasClass('previous')) {
                $(this).attr('href', newPrevIndex);
                $('a.next').attr('href', newNextIndex);
            } else {
                $(this).attr('href', newNextIndex);
                $('a.previous').attr('href', newPrevIndex);
            }

            var total = $('ul.row li').length + 1;
            //hide next button
            if (total === newNextIndex) {
                $('a.next').hide();
            } else {
                $('a.next').show()
            }
            //hide previous button
            if (newPrevIndex === 0) {
                $('a.previous').hide();
            } else {
                $('a.previous').show()
            }

            return false;

        });

    </script>


    <div class="container">
        <h2>Chronologie</h2>
        <br/>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <%
                var news = public._data.chronologie;
                for (var i in news) {

                entry = news[i];
                %>

                    <div class="media">
                        <div class="media-left media-top">
                            <div class="date-box">
                                <%= entry.date %>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a name="<%= entry.link %>"></a>
                                <%= entry.title %>
                            </h4>

                            <% if (entry.imageUrl.length > 0) { %>

                                <div style="width:100%;">

                                    <img src="<%= entry.imageUrl %>" style="width:100%;margin-bottom: 6px;" />

                                    <%- entry.content %>
                                </div>
                                <% } else {%>

                                    <%- entry.content %>

                                        <% } %>

                        </div>
                    </div>

                    <% }; %>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="/images/20150623_Gruppe.jpg" alt="BI mit Markus Ulbig">
                    <br/>
                    <small>23.06.2015 - Bürgerinitiative begrüßt Innenminister Markus Ulbig</small>
                </div>
            </div>
        </div>

        <h3>Chronologie in Bildern</h3>

        <div class="container">
            <ul class="row">
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_1.png" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_2.png" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_4.jpg" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_5.jpg" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_3.jpg" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180609_praxis_6.jpg" txt="Praxisschulung (09.06.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20180320_veranstaltung_1.png" txt="Infoveranstaltung baulicher Hochwasserschutz (20.03.18)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20161123_veranstaltung%20katastrophenschutzamt.jpg" txt="Infoveranstaltung des Katastrophenschutzamtes (23.11.16)"
                    />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20161123_veranstaltung%20katastrophenschutzamt_2.jpg" txt="Infoveranstaltung des Katastrophenschutzamtes (23.11.16)"
                    />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20161123_veranstaltung%20katastrophenschutzamt_3.jpg" txt="Infoveranstaltung des Katastrophenschutzamtes (23.11.16)"
                    />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20161123_veranstaltung%20katastrophenschutzamt_4.jpg" txt="Infoveranstaltung des Katastrophenschutzamtes (23.11.16)"
                    />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20161123_veranstaltung%20katastrophenschutzamt_5.jpg" txt="Infoveranstaltung des Katastrophenschutzamtes (23.11.16)"
                    />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20160406_archeNoVa2.jpg" txt="2. Treffen mit arche noVa (06.04.2016)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20160106_archeNoVa.JPG" txt="Treffen mit Anja Wittich (arche noVa, 06.01.2016)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150903_Böhm.jpg" txt="Veit Böhm (Stadtratssitzung, 03.09.2015)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150903_Jeremias.JPG" txt="Jens Jeremias (Stadtratssitzung, 03.09.2015)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150623_Gruppe2.jpg" txt="Markus Ulbig bei der BI (23.06.2015)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150611_Schulung1.jpg" txt="Bürgerschulung (11.06.2015)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150611_Schulung2.jpg" txt="Bürgerschulung (11.06.2015)" />
                </li>
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gallery-thumbnail">
                    <img src="images/20150611_Schulung3.jpg" txt="Bürgerschulung (11.06.2015)" />
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

</div>