<div class="content">
    <div class="container">
        <h2>Impressum</h2>
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <address>
                    <h4 class="page-header">Bürgerinitiative Übigau</h4>
                    Thäterstraße 3 HH<br/>
                    01139 Dresden
                </address>
                <p>Ansprechpartner: Uwe Jacob</p>

                <p>Email: <a href="mailto:post@bi-uebigau.de">post@bi-uebigau.de</a><br/>
                    Internet: <a href="http://www.bi-uebigau.de">www.bi-uebigau.de</a>
                </p>

                <h4 class="page-header">Haftungshinweis</h4>
                <p>
                    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer
                    Links.
                    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich!
                </p>

                <h4 class="page-header">Datenschutz</h4>
                <p>
                        Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich 
                        und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                        Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
                        Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, 
                        welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.                        
                </p>
                <h5 class="page-header">Server-Log-Dateien</h5>
                <p>
                        Wir erheben und speichern automatisch Informationen, die Ihr Browser an uns übermittelt, in so genannten Server-Log-Dateien. Dazu gehören:                    
                </p>
                <ul>
                    <li>Browsertyp und Browserversion</li>
                    <li>verwendetes Betriebssystem</li>
                    <li>Referer URL</li>
                    <li>Uhrzeit der Serveranfrage</li>
                    <li>IP-Adresse</li>
                </ul>
                <p>
                        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
                        Server-Log-Dateien sind für die technische Überwachung und die fehlerfreie Bereitstellung unserer Dienste erforderlich. 
                        Wir nutzen die Daten für statistische Zwecke. Wir verzichten auf das Setzen von Cookies.
                </p>
                <h5 class="page-header">Betroffenenrechte</h5>
                <p>
                        Beim Vorliegen der gesetzlichen Voraussetzungen haben Sie Anspruch auf die Durchsetzung folgender Rechte:
                </p>
                <ul>
                    <li>Recht auf Auskunft über Sie betreffende personenbezogene Daten</li>
                    <li>Recht auf Berichtigung Sie betreffende unrichtige personenbezogene Daten</li>
                    <li>Recht auf Löschung personenbezogener Daten</li>
                    <li>Recht auf Einschränkung der Verarbeitung personenbezogener Daten</li>
                    <li>Recht auf Widerspruch gegen die Verarbeitung personenbezogener Daten</li>
                </ul>
                </div>
            <div class="col-sm-3 col-md-3 text-center">
                <img src="images/BI_HWS_Uebigau_LOGO_164.png" alt="Logo"/>
            </div>
        </div>
    </div>
</div>