<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indikatoren -->
    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
        <li data-target="#main-carousel" data-slide-to="4"></li>
    </ol>

    <!-- Slide-Wrapper -->
    <div class="carousel-caption">
        <div>
            <h1>Willkommen bei der Bürgerinitiative Hochwasserschutz Übigauer Insel</h1>
        </div>

    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1">
        </div>
        <div class="item slide-2">
        </div>
        <div class="item slide-3">
        </div>
        <div class="item slide-4">
        </div>
        <div class="item slide-5">
        </div>
    </div>
    <!-- Steuerelemente -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="content" style="padding-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div>
                    <h4 class="page-header">Wir über uns</h4>

                    <p class="lead">
                        Wir, die Anwohner und mit dem Stadtteil verbundenen Bürger, haben uns zu einer Bürgerinitiative
                        zum
                        aktiven Schutz gegen zukünftige Hochwasserereignisse der Elbe im Stadtbereich Dresden-Übigau
                        zusammengeschlossen.
                    </p>

                    <h2>
                        Unsere Ziele
                    </h2>
                    <blockquote>
                        <ol>
                            <li>
                                <p>
                                    Verbesserter Kontakt durch direkte Ansprechbarkeit des Vorstandes der
                                    Bürgerinitiative mit
                                    den notwendigen Ämtern, Verwaltungen und Behörden.
                                </p>
                            </li>
                            <br/>
                            <li>
                                <p>
                                    Hinweisen auf mögliche Verbesserungen der Funktion vorhandenen Schutzmaßnahmen, wie
                                    Dämme
                                    oder Hochwasserschutzmauern um Dresden-Übigau.
                                </p>
                            </li>
                            <br/>
                            <li>
                                <p>
                                    Mitarbeit und Vorbereitung an vorbeugenden Maßnahmen für den effektiven
                                    Hochwasserschutz
                                    z.B. Ortsbegehungen mit der Feuerwehr oder Katastrophenschutz und den direkt vom
                                    Hochwasser
                                    betroffenen Bürgern.
                                </p>
                            </li>
                            <br/>
                            <li>
                                <p>
                                    Langfristige Zielsetzung ist die Erreichung eines dauerhaften und zuverlässigen
                                    Hochwasserschutz um Dresden-Übigau.
                                </p>
                            </li>
                        </ol>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div>
                    <h4 class="page-header">Aktuelles</h4>
                    <%
                    var news = public._data.news;
                    for(var i = news.length - 1; i > news.length - 3; i--)
                    {
                    entry = news[i];
                    %>

                    <div class="media">
                        <div class="media-left media-top">
                            <div class="date-box">
                                <%= entry.date %>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><%= entry.title %></h4>

                            <% if (entry.imageUrl.length > 0) { %>

                            <div class="thumbnail" style="width:100%;">
                                <img src="<%= entry.imageUrl %>" style="width:100%"/>
                            </div>

                            <% } %>

                            <%- entry.content %>
                        </div>
                    </div>
                    <%
                    };
                    %>
                </div>
                <br>
                <a href="chronologie.html#Katastrophenschutzamt">
                    <img src="images/20180609_praxis_1.png" class="img-thumbnail" alt="Praxisschulung"/>
                </a>

                <!-- <div>
                    <h4 class="page-header">Besucherzähler</h4>

                    <div class="text-center">
                        <img alt="Counter"
                             src="http://www.bi-uebigau.de/system-cgi/count/count.php?id=1&amp;x=60&amp;y=30&amp;size=20&amp;bg=white&amp;fg=%237F7F7F&amp;lenght=5&amp;transbg=true&amp;">
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    <!-- <div class="overlay" onclick="overlayOff()">
        <img src="images/20220828_Inselfest.png" alt="Inselfestplakat" />
     </div>
     <script>
         function overlayOff(){
             $(".overlay").hide();
         }
 
         function overlayOn(){
             $(".overlay").show();
         }
     </script> -->
</div>