<div class="content">

    <style type="text/css">
        .gallery-thumbnail {
            margin: 2px;
        }
            .gallery-thumbnail img {
                height: 200px;
            }

        ul {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        ul li {
            list-style: none;
            margin-bottom: 25px;
        }

        ul li img {
            cursor: pointer;
        }

        .controls {
            width: auto;
            display: block;
            font-size: 1.1em;
            padding-top: 8px;
        }

        .previous {
            float: left;
        }

        .next {
            float: right;
            text-align: right;
        }

        .modal-dialog {
            width: auto;
            margin: 5px 50px;
            font-size: 1.1em;
        }
            .modal-dialog img {
                text-align: center;
                margin: 0 auto;
            }
            .modal-dialog .img-responsive {
                max-height: calc(100vh - 70px);
            }

        .modal-content {
            height: calc(100vh - 10px);
            border-radius: 0;
        }
        
    </style>

    <script type="text/javascript">

        function closeModal () {
            $('#myModal').modal('toggle');
        }

        $(document).ready(function () {
            $('li img').on('click', function () {
                var src = $(this).attr('src');
                var txt = $(this).attr('alt');
                var img = '<img src="' + src + '" alt="' + txt + '" class="img-responsive"/>';

                var index = $(this).parent('li').index();

                var html = '<a onclick="closeModal()" style="font-size: 1.1em; float:right; cursor: pointer">X</a>';
                html += img;
                html += '<div style="height:25px;clear:both;display:block;text-align:center">';
                html += '<a class="controls previous" href="' + (index) + '">&laquo; zurück</a>';
                html += '<span class="txt" style="line-height:2.2;">' + txt + '</span>'
                html += '<a class="controls next" href="' + (index + 2) + '">vor &raquo;</a>';
                html += '</div>';

                $('#myModal').modal('toggle');
                ;
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myModal .modal-body').html(html);

                    $('a.controls').trigger('click');
                });
                $('#myModal').on('hidden.bs.modal', function () {
                    $('#myModal .modal-body').html('');
                });
            });
        });

        $(document).on('click', 'a.controls', function () {
            var index = $(this).attr('href');
            var src = $('ul li:nth-child(' + index + ') img').attr('src');
            var txt = $('ulli:nth-child(' + index + ') img').attr('alt');

            if (src) src = src.replace("_thumb", "");

            $('.modal-body img').attr('src', src);
            $('.modal-body span.txt').text(txt);

            var newPrevIndex = parseInt(index) - 1;
            var newNextIndex = parseInt(newPrevIndex) + 2;

            if ($(this).hasClass('previous')) {
                $(this).attr('href', newPrevIndex);
                $('a.next').attr('href', newNextIndex);
            } else {
                $(this).attr('href', newNextIndex);
                $('a.previous').attr('href', newPrevIndex);
            }

            var total = $('ul.row li').length + 1;
            //hide next button
            if (total === newNextIndex) {
                $('a.next').hide();
            } else {
                $('a.next').show()
            }
            //hide previous button
            if (newPrevIndex === 0) {
                $('a.previous').hide();
            } else {
                $('a.previous').show()
            }

            return false;

        });

    </script>

    <div class="container">
        <h2>Inselfest 2022</h2>
        <br/>

        <div style="display: flex;">
            <ul>
                <%
                    for (var i in public.images.Inselfest22._contents) {
                        image = public.images.Inselfest22._contents[i];
                        
                        if (image.endsWith('thumb.jpg')) {
                %>
                    <li class="gallery-thumbnail">
                        <img src="images/Inselfest22/<%= image %>" alt="Inselfest 2022" />
                    </li>
                <% }} %>
            </ul>

            
        </div>
    </div>

    <div class="bg-theme-color-blue-40 theme-color-blue modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

</div>