<div class="content">
    <div class="container">
        <h2>Informationsblätter für Altmickten und Altübigau </h2>
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Informationsblätter zur Hochwasserabwehr in Altübigau</h4>
                            <b class="visible-xs">Informationsblätter zur Hochwasserabwehr in Altübigau</b>
                            <p>
                                Quelle: Landeshauptstadt Dresden
                            </p>
                            <p>
                                <a href="/files/2018_06_04_LH Dresden_Hochwasserabwehr_Altübigau_Flyer.pdf"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Informationsblätter zur Hochwasserabwehr in Altmickten</h4>
                            <b class="visible-xs">Informationsblätter zur Hochwasserabwehr in Altmickten</b>
                            <p>
                                Quelle: Landeshauptstadt Dresden
                            </p>
                            <p>
                                <a href="/files/2018_06_04_LH Dresden_Hochwasserabwehr_Altmickten_Flyer.pdf"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Einladung zur Informationsveranstaltung</h4>
                            <b class="visible-xs">Einladung zur Informationsveranstaltung</b>
                            <p>
                                Initiatoren: Bürgerinitiative Übigauer Insel | CDU Pieschen | Markus Ulbig, MdL
                            </p>
                            <p>
                                <a href="/files/2018_03_20_Handzettel.pdf" target="_blank"
                                    class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h2>Dokumente / Links </h2>
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Hochwasser Bürgerinformation (Stand: Juli 2021)</h4>
                            <b class="visible-xs">Hochwasser Bürgerinformation (Stand: Juli 2021)</b>
                            <p>
                                Quelle: Landeshauptstadt Dresden
                            </p>
                            <p>
                                <a href="/files/HW-Bürgerinformation_Juli 2021.pdf" target="_blank" class="btn btn-default btn-sm"
                                    role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Hochwasser-Eigenvorsorge (Stand: Juni 2019)</h4>
                            <b class="visible-xs">Hochwasser-Eigenvorsorge (Stand: Juni 2019)</b>
                            <p>
                                Quelle: Landeshauptstadt Dresden
                            </p>
                            <p>
                                <a href="/files/HW-Eigenvorsorge_Juni 2019.pdf" target="_blank" class="btn btn-default btn-sm"
                                    role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Landeshochwasserzentrum (LHWZ)</h4>
                            <b class="visible-xs">Landeshochwasserzentrum (LHWZ)</b>
                            <p>
                                Quelle: Internetseite Landeshochwasserzentrum
                            </p>
                            <p>
                                <a href="https://www.umwelt.sachsen.de/umwelt/wasser/72.htm" target="_blank"
                                    class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-file" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Hochwasserschutzfibel</h4>
                            <b class="visible-xs">Hochwasserschutzfibel</b>
                            <p>
                                Bundesinstituts für Bau-, Stadt- und Raumforschung (BBSR)
                            </p>
                            <p>
                                <a href="https://www.bbsr.bund.de/BBSR/DE/veroeffentlichungen/ministerien/bmwsb/verschiedene-themen/2022/hochwasserschutzfibel.html" target="_blank"
                                    class="btn btn-default btn-sm" role="button">Link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Presse</h2>
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Behörden brauchen Ansprechpartner vor Ort</h4>
                            <b class="visible-xs">Behörden brauchen Ansprechpartner vor Ort</b>
                            <p>
                                Quelle: <a
                                    href="https://pieschen-aktuell.de/2019/bi-hochwasserschutz-uebigauer-insel-behoerden-brauchen-ansprechpartner-vor-ort/"
                                    target="_blanq">pieschen-aktuell.de</a>
                            </p>
                            <p>
                                <a href="https://pieschen-aktuell.de/2019/bi-hochwasserschutz-uebigauer-insel-behoerden-brauchen-ansprechpartner-vor-ort/"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Neuer Flutschutz für Übigauer Insel</h4>
                            <b class="visible-xs">Neuer Flutschutz für Übigauer Insel</b>
                            <p>
                                Quelle: <a
                                    href="https://www.saechsische.de/plus/neuer-flutschutz-fuer-uebigauer-insel-5021057.html"
                                    target="_blanq">Sächsische Zeitung (11.01.2019)</a>
                            </p>
                            <p>
                                <a href="/files/2019_01_11_sz_neuer flutschutz für übigauer insel.pdf" target="_blank"
                                    class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Einladung zur Infoveranstaltung des Katastrophenschutzamts</h4>
                            <b class="visible-xs">Einladung zur Infoveranstaltung des Katastrophenschutzamts</b>
                            <p>
                                Quelle: Dresdner Neueste Nachrichten (19.11.2016)
                            </p>
                            <p>
                                <a href="/files/2016_11_19_dnn_einladung%20infoveranstaltung%20katastrophenschutzamt.pdf"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Weiterer Hochwasserschutz für Übigau</h4>
                            <b class="visible-xs">Weiterer Hochwasserschutz für Übigau</b>
                            <p>
                                Quelle: Sächsische Zeitung (01.06.2015)
                            </p>
                            <p>
                                <a href="/files/2015_06_01_sz_weiterer%20hochwasserschutz%20für%20übigau.pdf"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <h1 class="glyphicon glyphicon-tag" aria-hidden="true"></h1>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4 class="hidden-xs">Hochwasserschutz in Übigau soll besser werden</h4>
                            <b class="visible-xs">Hochwasserschutz in Übigau soll besser werden</b>
                            <p>
                                Quelle: Sächsische Zeitung (29.09.2015)
                            </p>
                            <p>
                                <a href="/files/2015_09_29_sz_hochwasserschutz%20in%20übigau%20soll%20besser%20werden.pdf"
                                    target="_blank" class="btn btn-default btn-sm" role="button">Anzeigen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>