<div class="content">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <h2>Unsere Unterstützer:</h2><br/>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a href="http://www.humuswirtschaft.de" target="_blank">
                        <img src="/images/humuswirtschaft_logo.png" alt="Humuswirtschaft Kaditz GmbH"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a href="http://www.klempnerei-jacob.de" target="_blank">
                        <img src="/images/jacob_logo.jpg" alt="Klempnerei Jacob"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a href="http://www.jasef-dach-holz.de" target="_blank">
                        <img src="/images/jasef_logo.jpg" alt="Jasef Holz- und Bautenschutz"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                <div class="thumbnail">
                    <a href="http://www.wirtshaus-lindenschaenke.de/" target="_blank">
                        <img src="/images/lindenschaenke_logo.png" alt="Wirtshaus Lindenschänke"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>